<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class ="col-lg-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Challenges</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Bible reading</h3>
                <ul class = "list-group">
                    <% @challengedbr.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %>
                            - 
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3>Prayer</h3>
                <ul class = "list-group">
                    <% @challengedwp.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %>
                            -
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Reaching out</h3>
                <ul class = "list-group">
                    <% @challengepoc.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %> 
                            - 
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3>Skills for serving</h3>
                <ul class = "list-group">
                    <% @challengelss.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %>
                            - 
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>“Fasting” / Focus</h3>
                <ul class = "list-group">
                    <% @challengefif.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %> 
                            - 
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3>Exercise</h3>
                <ul class = "list-group">
                    <% @challengeexe.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %>
                            - 
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Message / Talk</h3>
                <ul class = "list-group">
                    <% @challengepmt.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %> 
                            - 
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
            
        </div>
    </div>

</div>