<div class="completed-background">
</div>

<div class="container completed">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Completed Challenges</h2>
				</div>
				<div class="panel-body">
					
					<h4>
					<% if @comments.length != 0 %>
						Here are the list of accomplished missions so far. Browse through them to see what others have been up to during break!
					<% else %>
						No missions accomplished yet. Be the first to post!
					<% end %>
					</h4>
				</div>
				<div class="all-comments">
					<div class="pagination">
					<%= will_paginate @comments %>
					</div>
                    
                    <div> 
                    <% @comments.each do |comment| %>
                        <div class="all-comments">
                            <div class="comment-name"> <%= comment.name %> - <%= comment.team %> </div>
                            <div class="comment-timestamp"> <%= comment.created_at.in_time_zone.to_time.strftime('%B %e at %l:%M %p') %></div>
                            <div class="comment-media">
                                <% if comment.video.file? %>
                                    Click to see the video:
                                    <br>
                                    <%=link_to image_tag(comment.video.url(:thumb)), comment.video.url(:original), :popup=>['original_image', 'height=700,width=900'] %>	
								<% else %>
										<div></div>
								<% end %>
                                <% if comment.avatar.file? %>							
								    <%=link_to image_tag(comment.avatar.url(:original)), comment.avatar.url(:original), :popup=>['original_image', 'height=700,width=900'] %>	
								<% else %>
								        <div></div>
								<% end %>
                            </div>
                            <div class="comment-content">
   								<% if comment.content != nil %>
									<%= comment.content %>
								<% end %>
                                <hr>
                                Challenge: <%= comment.mission.name %> - <%= comment.mission.points %> points
                            </div>
                        </div>
                        <br>
                        <br>
                    <% end %>
                    
                    
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>