<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>2020 IGSM Winter Challenge</h1>
                    <h3 class="intro-count"><i>"Look carefully then how you walk, not as unwise but as wise, making the best use of the time, because the days are evil." Ephesians 5:15-16</i></h3>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">The Challenge</h2>
                <p class="lead">It’s on! How will you spend your winter break? Join us for 2020 IGSM Winter Challenge! Complete each of the Winter Challenges to get points for your team and grow closer together as a class. Try having some friends over for a new dish or calling your peers over video chat! How will you make the best use of your time this break? </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            	<hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Rules</h2>
                <ul class="lead">
                	<li>
                		Complete a challenge and log!
                	</li>
                    <li>
                        Adding photos and videos generate more points and it’s so much more fun
                    </li>
                    <li>
                        Try doing it with other people, it might increase your points! ;)
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2>Log Completed Challenge</h2>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <%= form_for @comment, :html => {:role => 'form'} do |f| %>

                    <div class="col-lg-6">
                        <%= render 'shared/error_messages' %>
                        <%= f.label :name, "Name" %>

                            <select class="form-control" name="comment[name]" id="comment_name">
                                <option value>Select Name</option>
                                <optgroup label="Team Jeff">Team Jeff
                                    <% @jeff.each do |player| %>
                                    <option value="<%= player.name %>"><%= player.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Team Jisup">Team Jisup
                                    <% @jisup.each do |player| %>
                                    <option value="<%= player.name %>"><%= player.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Team Gary">Team Gary
                                    <% @gary.each do |player| %>
                                    <option value="<%= player.name %>"><%= player.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Team Adam">Team Adam
                                    <% @adam.each do |player| %>
                                    <option value="<%= player.name %>"><%= player.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Team Sara">Team Sara
                                    <% @sara.each do |player| %>
                                    <option value="<%= player.name %>"><%= player.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Team Ella">Team Ella
                                    <% @ella.each do |player| %>
                                    <option value="<%= player.name %>"><%= player.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Team Lynn">Team Lynn
                                    <% @lynn.each do |player| %>
                                    <option value="<%= player.name %>"><%= player.name %></option>
                                    <% end %>
                                </optgroup>
                            </select>
                        </div>

                        <div class="form-group">
                            <%= f.label :content, "Dates completed and description!" %>
                            <%= f.text_area :content, { :class => "form-control", rows: "5"} %>
                        </div>
                        <div class="form-group">
                            <%= f.label :multiplier, "Number of people or sets completed (aka, 4 people in video chat or 4 miles so you only have to log once). This will automatically add in points for each person instead of posting the same thing multiple times." %>
                            <%= f.text_field :multiplier, { :class => "form-control"} %>
                        </div>
                    </div>
                

                    <div class="col-lg-6">
                        <div class="form-group">
                            <%= f.label :mission_id, "Challenge" %>

                            <select class="form-control" name="comment[mission_id]" id="comment_mission_id">
                                <option value>Select Challenge</option>
                                <optgroup label="Bible reading">Bible reading
                                    <% @homedbr.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Prayer">Prayer
                                    <% @homedwp.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Reaching out">Reaching out
                                    <% @homepoc.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Skills for serving">Skills for serving
                                    <% @homelss.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="“Fasting” / Focus">“Fasting” / Focus
                                    <% @homefif.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Exercise">Exercise
                                    <% @homeexe.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Message / Talk">Message / Talk
                                    <% @homepmt.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %> - <%= mission.points%> points</option>
                                    <% end %>
                                </optgroup>
                            </select>
                        </div>

                        <div class="form-group">
                            <%= f.label :avatar, "Upload a Picture (+2 points)" %>
                            <%= f.file_field :avatar, { :class => "form-control"} %>
                        </div>

                        <div class="form-group">
                            <%= f.label :video, "Upload a Video (+3 points)" %>
                            <%= f.file_field :video, { :class => "form-control"} %>
                        </div>
                    </div>

                    <%= f.submit "Submit my post", class: "btn btn-primary btn-lg btn-block" %>
                <% end %>
            </div>
        </div>
    </div>  
</div>


<div class="content-section-a">

</div>

