<!-- Header -->
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Winter Challenge</h1>
                    <h3>Koinonia Juniors C/O 2018</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <% if @broSum > @sisSum %>
                            <h2 class="intro-count">Bros: 
                                <%= @broSum %>
                            </h2>
                        
                        
                            <h2 class="intro-count">Sis: 
                                <%= @sisSum %>
                            </h2>
                        <% else %>
                            <h2 class="intro-count">Sis: 
                                <%= @sisSum %>
                            </h2>
                            <h2 class="intro-count">Bros: 
                                <%= @broSum %>
                            </h2>
                        <% end %>
                        
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Objective</h2>
                <p class="lead">Brothers vs. Sisters! Outscore the other team. Score points for your team by fulfilling missions on this page. Victory goes to the team with the most points by winter retreat. Let the challenge begin!</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            	<hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Rules</h2>
                <ul class="lead">
                	<li>
                		Completed missions must be logged on this site. Otherwise, the points earned for completing that mission will not be added to the total score.
                	</li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h3>Log Completed Mission</h3>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <%= form_for @comment, :html => {:role => 'form'} do |f| %>

                    <div class="col-lg-6">
                        <%= render 'shared/error_messages' %>
                        <div class="form-group">
                            <%= f.label :name, "Name (first and last)" %>
                            <%= f.text_field :name, { :class => "form-control"} %>
                        </div>

                        <div class="form-group">
                            <%= f.label :team %>
                            <%= f.select :team, options_for_select(["Bro", "Sis"]), {:prompt => 'Select Team'}, { :class => "form-control" } %>
                        </div>
                        <div class="form-group">
                            <%= f.label :content, "Blurb (optional)" %>
                            <%= f.text_area :content, { :class => "form-control", rows: "5"} %>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <%= f.label :mission_id %>

                            <select class="form-control" name="comment[mission_id]" id="comment_mission_id">
                                <option value>Select Mission</option>
                                <optgroup label="Bible/Disciplines">Bible/Disciplines
                                    <% @bibleDisciplines.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Evangelism">Evangelism
                                    <% @evangelisms.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Reading">Reading
                                    <% @readings.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Service">Service
                                    <% @services.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Miscellaneous">Miscellaneous
                                    <% @miscs.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %></option>
                                    <% end %>
                                </optgroup>
                            </select>
                        </div>

                        <div class="form-group">
                            <%= f.label :avatar, "Upload a Picture (optional, but recommended)" %>
                            <%= f.file_field :avatar, { :class => "form-control"} %>
                        </div>
                    </div>

                    <%= f.submit "Submit my post", class: "btn btn-primary btn-lg btn-block" %>
                <% end %>
            </div>
        </div>
    </div>  
</div>
<!-- /.content-section-b -->