Header -->
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>2017 Summer Challenge</h1>
                    <h3>Klesis 3 Sophomores</h3>
                    <h4><i>"And let us consider how to stir up one another to love and good works." Hebrews 10:24</i></h4>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <% if @oneSum >= @twoSum && @oneSum >= @threeSum %>
                            <h2 class="intro-count">Team 1: 
                                <%= @oneSum %>
                            </h2>
                            <% if @twoSum >= @threeSum %>
                                <h2 class="intro-count">Team 2: 
                                    <%= @twoSum %>
                                </h2>
                                <h2 class="intro-count">Team 3: 
                                    <%= @threeSum %>
                                </h2>
                            <% else %>
                                <h2 class="intro-count">Team 3: 
                                    <%= @threeSum %>
                                </h2>
                                <h2 class="intro-count">Team 2: 
                                    <%= @twoSum %>
                                </h2>
                            <% end %>

                        <% elsif @twoSum >= @oneSum && @twoSum >= @threeSum %>
                            <h2 class="intro-count">Team 2: 
                                <%= @twoSum %>
                            </h2>
                            <% if @oneSum >= @threeSum %>
                                <h2 class="intro-count">Team 1: 
                                    <%= @oneSum %>
                                </h2>
                                <h2 class="intro-count">Team 3: 
                                    <%= @threeSum %>
                                </h2>
                            <% else %>
                                <h2 class="intro-count">Team 3: 
                                    <%= @threeSum %>
                                </h2>
                                <h2 class="intro-count">Team 1 
                                    <%= @oneSum %>
                                </h2>
                            <% end %>

                        <% elsif @threeSum >= @oneSum && @threeSum >= @twoSum %>
                            <h2 class="intro-count">Team 3: 
                                <%= @threeSum %>
                            </h2>
                            <% if @twoSum >= @oneSum %>
                                <h2 class="intro-count">Team 2: 
                                    <%= @twoSum %>
                                </h2>
                                <h2 class="intro-count">Team 1: 
                                    <%= @oneSum %>
                                </h2>
                            <% else %>
                                <h2 class="intro-count">Team 1: 
                                    <%= @oneSum %>
                                </h2>
                                <h2 class="intro-count">Team 2: 
                                    <%= @twoSum %>
                                </h2>
                            <% end %>
                        <% end %>
                        
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Objective</h2>
                <p class="lead">Work your team up towards the target goal and outscore other teams along the way! Score points for your team by completing challenges, but be careful - there will be consequences for the team with the least points!</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            	<hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Rules</h2>
                <ul class="lead">
                	<li>
                		Completed a challenge? Great! Make your points count by logging it on this website!
                	</li>
                    <li>
                        Upload a photo, if possible!
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2>Log Completed Challenge</h3>

        </div>

        <div class="row">
            <div class="col-lg-12">
            <h3>Submissions are not yet open. Submit your proposals <a href="https://docs.google.com/a/gpmail.org/forms/d/e/1FAIpQLSdlFgEW-KHhNBhN8xSQCSwQvEC3hYbTadvbsvYeGfze0Ei6oA/viewform">here!</a></h4>
            <% if false %>
                <%= form_for @comment, :html => {:role => 'form'} do |f| %>

                    <div class="col-lg-6">
                        <%= render 'shared/error_messages' %>
                        <div class="form-group">
                            <%= f.label :name, "Name (first and last)" %>
                            <%= f.text_field :name, { :class => "form-control"} %>
                        </div>

                        <div class="form-group">
                            <%= f.label :team %>
                            <%= f.select :team, options_for_select(["Team 1", "Team 2", "Team 3"]), {:prompt => 'Select Team'}, { :class => "form-control" } %>
                        </div>
                        <div class="form-group">
                            <%= f.label :content, "Blurb (optional)" %>
                            <%= f.text_area :content, { :class => "form-control", rows: "5"} %>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <%= f.label :mission_id, "Challenge" %>

                            <select class="form-control" name="comment[mission_id]" id="comment_mission_id">
                                <option value>Select Challenge</option>
                                <optgroup label="Word of God">Word of God
                                    <% @wog.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Evangelism">Evangelism
                                    <% @evangelism.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Prayer">Prayer
                                    <% @prayer.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Service">Service
                                    <% @ser.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %></option>
                                    <% end %>
                                </optgroup>
                                <optgroup label="Equipping">Equipping
                                    <% @eq.each do |mission| %>
                                    <option value=<%= mission.id %>><%= mission.name %></option>
                                    <% end %>
                                </optgroup>
                            </select>
                        </div>

                        <div class="form-group">
                            <%= f.label :avatar, "Upload a Picture (optional, but recommended)" %>
                            <%= f.file_field :avatar, { :class => "form-control"} %>
                        </div>
                    </div>

                    <%= f.submit "Submit my post", class: "btn btn-primary btn-lg btn-block" %>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>  
</div>
<!-- /.content-section-b