
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class ="col-lg-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Challenges</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Spiritual Disciplines</h3>
                <ul class = "list-group">
                    <% @sd.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %> 
                            - 
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3>Evangelism</h3>
                <ul class = "list-group">
                    <% @evangelism.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %>
                            -
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Service</h3>
                <ul class = "list-group">
                    <% @service.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %>
                            - 
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3>Equipping</h3>
                <ul class = "list-group">
                    <% @equip.each do |mission| %>
                        <li class = "list-group-item">
                            <%= mission.name %>
                            - 
                            <%= mission.points %>
                            points
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

</div>