<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class ="col-lg-4" style="padding-top:20px;">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Stats</h2>
                
<svg class="chart" width="1200" height="800" aria-labelledby="title desc" role="img">
  <!-- <title id="title">Winning Team</title>
  <desc id="desc">Team Some Men, Ordinary Men, Team Zed, Team Young and Free, Full Measure, Sent, Team Winner Challenge</desc> -->
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @jeffsum / 10 %>" height="19" y="0"></rect>
    <text x="<%= @jeffsum / 10 + 5 %>" y="9" dy=".35em">  Jeff Chiu - <%= @jeffsum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @jerrysum / 10 %>" height="19" y="20"></rect>
    <text x="<%= @jerrysum / 10 + 5 %>" y="29" dy=".35em">  Jerry Tai - <%= @jerrysum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @alvinsum / 10 %>" height="19" y="40"></rect>
    <text x="<%= @alvinsum / 10 + 5 %>" y="49" dy=".35em">  Alvin Tan - <%= @alvinsum / 10 %></text>
  </g>
  </a>

  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @jisupsum / 10 %>" height="19" y="60"></rect>
    <text x="<%= @jisupsum / 10 + 5 %>" y="69" dy=".35em">  Jisup Hong - <%= @jisupsum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @marksum / 10 %>" height="19" y="80"></rect>
    <text x="<%= @marksum / 10 + 5 %>" y="89" dy=".35em">  Mark Borja - <%= @marksum / 10 %></text>
  </g>
  </a>

  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @garysum / 10 %>" height="19" y="100"></rect>
    <text x="<%= @garysum / 10 + 5 %>" y="109" dy=".35em">  Gary Zhao - <%= @garysum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @bryansum / 10 %>" height="19" y="120"></rect>
    <text x="<%= @bryansum / 10 + 5 %>" y="129" dy=".35em">  Bryan Zheng - <%= @bryansum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @ricksum / 10 %>" height="19" y="140"></rect>
    <text x="<%= @ricksum / 10 + 5 %>" y="149" dy=".35em">  Rick Zhong - <%= @ricksum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @seansum / 10 %>" height="19" y="160"></rect>
    <text x="<%= @seansum / 10 + 5 %>" y="169" dy=".35em">  Sean Zhang - <%= @seansum / 10 %></text>
  </g>
  </a>

  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @adamsum / 10 %>" height="19" y="180"></rect>
    <text x="<%= @adamsum / 10 + 5 %>" y="189" dy=".35em">  Adam Kor - <%= @adamsum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @alansum / 10 %>" height="19" y="200"></rect>
    <text x="<%= @alansum / 10 + 5 %>" y="209" dy=".35em">  Alan Kwok - <%= @alansum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @kevinsum / 10 %>" height="19" y="220"></rect>
    <text x="<%= @kevinsum / 10 + 5 %>" y="229" dy=".35em">  Kevin Lee - <%= @kevinsum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @victorsum / 10 %>" height="19" y="240"></rect>
    <text x="<%= @victorsum / 10 + 5 %>" y="249" dy=".35em">  Youchen (Victor) Zhang - <%= @victorsum / 10 %></text>
  </g>
  </a>

  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @sarasum / 10 %>" height="19" y="260"></rect>
    <text x="<%= @sarasum / 10 + 5 %>" y="269" dy=".35em">  Sara Hong - <%= @sarasum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @gracesum / 10 %>" height="19" y="280"></rect>
    <text x="<%= @gracesum / 10 + 5 %>" y="289" dy=".35em">  Grace Borja - <%= @gracesum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @jilansum / 10 %>" height="19" y="300"></rect>
    <text x="<%= @jilansum / 10 + 5 %>" y="309" dy=".35em">  Jilan Zheng - <%= @jilansum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @summersum / 10 %>" height="19" y="320"></rect>
    <text x="<%= @summersum / 10 + 5 %>" y="329" dy=".35em">  Summer Zhao - <%= @summersum / 10 %></text>
  </g>
  </a>

  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @ellasum / 10 %>" height="19" y="340"></rect>
    <text x="<%= @ellasum / 10 + 5 %>" y="349" dy=".35em">  Ella Wang - <%= @ellasum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @phoebesum / 10 %>" height="19" y="360"></rect>
    <text x="<%= @phoebesum / 10 + 5 %>" y="369" dy=".35em">  Phoebe Gong - <%= @phoebesum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @wenxiasum / 10 %>" height="19" y="380"></rect>
    <text x="<%= @wenxiasum / 10 + 5 %>" y="389" dy=".35em">  Wenxia Lin - <%= @wenxiasum / 10 %></text>
  </g>
  </a>

  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @lynnsum / 10 %>" height="19" y="400"></rect>
    <text x="<%= @lynnsum / 10 + 5 %>" y="409" dy=".35em">  Lynn Ma - <%= @lynnsum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @giasum / 10 %>" height="19" y="420"></rect>
    <text x="<%= @giasum / 10 + 5 %>" y="429" dy=".35em">  Gia Park - <%= @giasum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @jacklynsum / 10 %>" height="19" y="440"></rect>
    <text x="<%= @jacklynsum / 10 + 5 %>" y="449" dy=".35em">  Jacklyn Ang - <%= @jacklynsum / 10 %></text>
  </g>
  </a>
  <a xlink:href="/completed/<%= @teamIdOne %>">
  <g class="bar">
    <rect width="<%= @sophiasum / 10 %>" height="19" y="460"></rect>
    <text x="<%= @sophiasum / 10 + 5 %>" y="469" dy=".35em">  Sophia Huang - <%= @sophiasum / 10 %></text>
  </g>
  </a>
</svg>
            </div>
        </div>
    </div>
</div>

