<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class ="col-lg-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Stats</h2>

                <h3 class="section-heading"> <!-- <h3 class="intro-count"> -->
                    <%= @winner[0] %>:
                    <%= @winner[1] %>
                </h3>

                <% @points.each do |team| %>
                    <h4 class="section-heading"> <!-- <h4 class="intro-count"> -->
                        <%= team[0] %>: 
                        <%= team[1] %>
                    </h4>
                <% end %>
            </div>
        </div>
    </div>


    <div class="container">
        <!-- <header>-->
        <!--     <h1>Pure <strong>CSS</strong> Bars</h1>-->
        <!--     <p>...a growing bars chart.</p>-->
        <!-- </header>-->
        <div class="chart big-font-size">
            <div class="bar bar-<%= @winner[1] %> yellow">
                <div class="face side-0">
                    <div class="growing-bar"></div>
                </div>
                <div class="face side-1">
                    <div class="growing-bar"></div>
                </div>
                <div class="face top"></div>
                <div class="face floor"></div>
            </div>
            <div class="bar bar-<%= @points[0][1] %> red">
                <div class="face side-0">
                    <div class="growing-bar"></div>
                </div>
                <div class="face side-1">
                    <div class="growing-bar"></div>
                </div>
                <div class="face top"></div>
                <div class="face floor"></div>
            </div>
            <div class="bar bar-<%= @points[1][1] %> cyan">
                <div class="face side-0">
                    <div class="growing-bar"></div>
                </div>
                <div class="face side-1">
                    <div class="growing-bar"></div>
                </div>
                <div class="face top"></div>
                <div class="face floor"></div>
            </div>
            <div class="bar bar-<%= @points[2][1] %> lime">
                <div class="face side-0">
                    <div class="growing-bar"></div>
                </div>
                <div class="face side-1">
                    <div class="growing-bar"></div>
                </div>
                <div class="face top"></div>
                <div class="face floor"></div>
            </div>
        </div>
    </div>
</div>

