<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class ="col-lg-4">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Stats</h2>

                <h3 class="section-heading"> <!-- <h3 class="intro-count"> -->
                    <%= @winner[0] %>:
                    <%= @winner[1] %>
                </h3>

                <% @points.each do |team| %>
                    <h4 class="section-heading"> <!-- <h4 class="intro-count"> -->
                        <%= team[0] %>: 
                        <%= team[1] %>
                    </h4>
                <% end %>
                
<svg class="chart" width="420" height="150" aria-labelledby="title desc" role="img">
  <title id="title">Winning Team</title>
  <desc id="desc">A2F, Klesis, MakeNew</desc>
<%= @team[0] = 'A2F' %>
  <g class="bar-winner">
<% else %>
  <g class="bar">
<% end %>
    <rect width="<%= @oneSum %>" height="19"></rect>
    <text x="<%= @barOne %>" y="9.5" dy=".35em">A2F</text>
  </g>
<%= @team[0] = 'Klesis' %>
  <g class="bar-winner">
<% else %>
  <g class="bar">
<% end %>
    <rect width="<%= @twoSum %>" height="19" y="20"></rect>
    <text x="<%= @barTwo %>" y="28" dy=".35em">Klesis</text>
  </g>
<%= @team[0] = 'MakeNew' %>
  <g class="bar-winner">
<% else %>
  <g class="bar">
<% end %>
    <rect width="<%= @threeSum %>" height="19" y="40"></rect>
    <text x="<%= @barThree %>" y="48" dy=".35em">MakeNew</text>
  </g>
</svg>
            </div>
        </div>
    </div>
</div>

