<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class ="col-lg-4" style="padding-top:20px;">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Stats</h2>
                
<svg class="chart" width="1200" height="800" aria-labelledby="title desc" role="img">
  <title id="title">Winning Team</title>
  <desc id="desc">Team Jeff, Team Jisup, Team Gary, Team Adam, Team Sara, Team Ella, Team Lynn</desc>
  <g class="bar">
    <rect width="<%= @oneStat %>" height="99"></rect>
    <text x="<%= @barOne %>" y="49.5" dy=".35em">Team Jeff - <%= @oneSum %></text>
  </g>
  <g class="bar">
    <rect width="<%= @twoStat %>" height="99" y="100"></rect>
    <text x="<%= @barTwo %>" y="149" dy=".35em">Team Jisup - <%= @twoSum %></text>
  </g>
  <g class="bar">
    <rect width="<%= @threeStat %>" height="99" y="200"></rect>
    <text x="<%= @barThree %>" y="249" dy=".35em">Team Gary - <%= @threeSum %></text>
  </g>
  <g class="bar">
    <rect width="<%= @fourStat %>" height="99" y="300"></rect>
    <text x="<%= @barFour %>" y="349" dy=".35em">Team Adam - <%= @fourSum %></text>
  </g>
  <g class="bar">
    <rect width="<%= @fiveStat %>" height="99" y="400"></rect>
    <text x="<%= @barFive %>" y="449" dy=".35em">Team Sara - <%= @fiveSum %></text>
  </g>
  <g class="bar">
    <rect width="<%= @sixStat %>" height="99" y="500"></rect>
    <text x="<%= @barSix %>" y="549" dy=".35em">Team Ella - <%= @sixSum %></text>
  </g>
  <!-- winner class is bar-winner -->
  <g class="bar">
    <rect width="<%= @sevenStat %>" height="99" y="600"></rect>
    <text x="<%= @barSeven %>" y="649" dy=".35em">Team Lynn - <%= @sevenSum %></text>
  </g>
</svg>
            </div>
        </div>
    </div>
</div>

