<!DOCTYPE html>
<html>
  <head>
    <script src="js/bootstrap.min.js"></script>

    <title>All-Soph 2018 Christmas Challenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag("gracepoint_berkeley_100.jpg", :size => "165x25"), root_path, class: "navbar-brand topnav" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to "Challenges", challenges_path %>
                </li>
                <li>
                    <%= link_to "Completed", completed_path %>
                </li>
                <li>
                    <%= link_to "Stats", stats_path %>
                </li>
            </ul>
        </div>
    <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
    <div class="flash">
      <% flash.each do |message_type, message| %>
        <% if message_type == "success" %>
          <div class="alert alert-success alert-dismissible" role="alert">
          <%= message %>
          </div>
        <% else %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            Error(s) with your submission: <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>
      <%= yield %>
  </body>
</html>
